*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card {
    width: 33%;
    background-color: aliceblue;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    margin: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container{
    padding: 2px 16px;
}
.card img {
    width: 100%;
    height: auto;
}