body {
    background-color: lightcyan;
}
.flex-container {
    display: flex;
}
.header {
    background-color: white;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.Home {
    column-gap: 30px;
}
.Moments {
    column-gap: 30px;
}
.Notifications {
    column-gap: 30px;
}
.Messages {
    column-gap: 30px;
}