body {
    background-color: lightcyan;
}
.flex-container {
    display: flex;
    background-color: white;
    height: 20px;
    width: 100%;
}
.Home {
    display: flex;
    gap: 10 30px;
    justify-content: center;
}
.Moments {
    justify-content: center;
    display: flex;
    gap: 10 30px;
}
.Notifications {
    justify-content: center;
    display: flex;
    gap: 10 30px;
}
.Messages {
    justify-content: center;
    display: flex;
    gap: 10 30px;
}