body {
    background-color: rgb(230, 237, 241);
}
.flex-container {
    display: flex;
}
.header {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.Home {
    margin-left: 140px;
    color:gray;
}
.Moments {
    margin-left: 30px;
    color:gray;
}
.Notifications {
    margin-left: 30px;
    color:gray;
}
.Messages {
    margin-left: 30px;
    color:gray;
}
.twitter_icon img {
    position: absolute;
    left: 50%;
    width: 50px;
    height: 50px;
}
.tweet_icon img {
    position: absolute;
    top: -25px;
    right: 0%;
    width: 100px;
    height: 100px;
}

.center_content {
    width: 100%;
    margin-top: 51px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.profile {
    background-color: white;
    height: 300px;
    width: 300px;
    margin: 5px;
    position: relative;
    flex-direction: column;
}

.banner {
    position: relative;
    width: 100%;
}

.banner img {
    width: 100%;
    height: auto;
}

.profile_info {
    display:flex;
}

.profile_pic {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.profile_pic img {
    width: 70px;
    height: 70px;
}

.profile_name {
    height: 10px;
    padding: 0;
    display:flex;
    flex-direction: column;
}
.profile_name p {
    margin-bottom: 0;
    font-size: 14px;
}

.profile_id {
    height:10px;
    margin-top: 0;
}

.profile_id p {
    margin: 0;
}

.content_details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}

.Posts {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 500px;
    height: 500px;
}

#post1 {
    display: flex;
    border-bottom: 1px solid gray;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
}
#post1 img {
    margin-right: 5px;
    height: 50px;
    width: 50px;
}
#post2 {
    display: flex;
    border-bottom: 1px solid gray;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
}
#post2 img {
    margin-right: 5px;
    height: 50px;
    width: 50px;
}
#post3 {
    display: flex;
    border-bottom: 1px solid gray;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
}
#post3 img {
    margin-right: 5px;
    height: 50px;
    width: 50px;
}
#post4 {
    display: flex;
    border-bottom: 1px solid gray;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
}
#post4 img {
    margin-right: 5px;
    height: 50px;
    width: 50px;
}
#post5 {
    display: flex;
    border-bottom: 1px solid gray;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
}
#post5 img {
    margin-right: 5px;
    height: 50px;
    width: 50px;
}

.New_Contacts {
    background-color: white;
    width: 300px;
    height: 300px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.Who_to_follow {
    width: 100%;
    height: 50px;
}

.contact1 {
    display: flex;
    border-bottom: 1px solid gray;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
}

.contact1 img {
    margin-right: 5px;
    width: 50px;
    height: 50px;
}

.name_and_follow1 {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.name_and_follow1 img {
    width: 50px;
    height: 20px;
}

.contact2 {
    display: flex;
    border-bottom: 1px solid gray;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
}

.contact2 img {
    margin-right: 5px;
    width: 50px;
    height: 50px;
}

.name_and_follow2 {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.name_and_follow2 img {
    width: 50px;
    height: 20px;
}